body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

/* input {
	font-size: larger;
}

button {
	font-size: large;
	margin-left: 15px;
} */

.main{
	/* background: rgb(250, 185, 105); */
	height: 100vh;
	width: 35%;
	/* padding: 1rem; */
}


.header {
	background: rgb(250, 185, 105);
}
.main-header {
	display: flex;
	padding-top: 5px;
	padding-left: 5px;
	/* justify-content: space-around; */
}
.logo{
	width: 35px;
	height: 35px;
    border-radius: 50%
}
.messageLogo {
	width: 20px;
	height: 20px;
	border-radius: 50%
}
.sub-header {
	padding-top: 15px;
	display: flex;
	justify-content: center;
	font-size: 12px;

}
.message {
	background: bisque;
	position: relative;
	height: 90.3vh;
	/* height: 86.1vh; */
	overflow-y: scroll;
	/* margin-top: 30px; */
	
}
.messageFull {
	display: flex;
	margin-top: 15px;
	margin-left: 5px;
}
.myMessageFull {
	display: flex;
	margin-top: 15px;
	flex-direction: row-reverse;
	justify-content: end;
}
.messageData {
	background: rgb(255, 255, 255);
	border-radius: 1rem;
	padding-left: 5px;
	padding-right: 10px;
	color: black;
	max-width: 60%;
	-ms-word-break: break-all;
	word-break: break-all;
	white-space: pre-wrap
}
.messageTime {
	display: flex;
	justify-content: flex-end;
	font-size: 10px;
}
.footer{
	/* background: rgb(250, 185, 105); */
	/* display: flex; */
	/* justify-content: space-between; */
	width: 35%;
	position: absolute;
	bottom: 0;
	/* margin-bottom: 20px; */
	
}
.fromClass {
	display: flex;
	/* width: 100%; */
	/* flex-direction: row-reverse; */
}
.footerButton {
	display: flex;
	flex-direction: column-reverse;
}
@media only screen and (max-width: 821px) {
	.main{
		/* background: bisque; */
		height: 100vh;
		width: 100%;
		/* padding: 1rem; */
	}
	.header {
		background: rgb(250, 185, 105);
	}
	.main-header {
		display: flex;
		padding-top: 5px;
		padding-left: 5px;
		/* justify-content: space-around; */
	}
	.sub-header {
		padding-top: 15px;
		display: flex;
		justify-content: center;
		font-size: 12px;	
	}
	.message {
		background: bisque;
		position: relative;
		height: 91.3vh;
		/* height: 84.3vh; */
		overflow-y: scroll;
		/* margin-top: 30px; */
		
	}
	.messageFull {
		display: flex;
		margin-top: 15px;
	}
	.myMessageFull {
		margin-top: 15px;
		display: flex;
		flex-direction: row-reverse;
		justify-content: end;	
	}
	.messageData {
		background: rgb(255, 255, 255);
		border-radius: 1rem;
		padding-left: 5px;
		padding-right: 10px;
		color: black;
		max-width: 60%;
		-ms-word-break: break-all;
		word-break: break-all;
		white-space: pre-wrap
	}
	.footer{
		/* background: rgb(250, 185, 105); */
		/* display: flex;
		justify-content: space-between; */
		width: 100%;
		position: absolute;
		bottom: 0;
	}	
	.fromClass {
		display: flex;
		width: 100%;
		/* flex-direction: row-reverse; */
	}
	.footerButton {
		display: flex;
		flex-direction: column-reverse;
		/* width: 11%; */
	}
}
